* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.pantalla-planes {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to bottom, #7fa9c4, #2b5674);
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}